make-scenario-blueprint.json
{
  "name": "EH Automation — ליד חדש מהאתר",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": 0,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {
          "parameters": {
            "hook": {
              "label": "EH Automation — Lead Webhook"
            }
          }
        }
      }
    },
    {
      "id": 2,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDecompression": true
      },
      "mapper": {
        "url": "https://app.base44.com/api/apps/68ca70a27ae659023f0c2732/entities/Lead",
        "serializeUrl": false,
        "method": "post",
        "headers": [
          {
            "name": "api_key",
            "value": "50290b7de016434184e42f238da348db"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "data": "{\n  \"full_name\": \"{{1.name}}\",\n  \"phone\": \"{{1.phone}}\",\n  \"company\": \"{{1.business}}\",\n  \"source\": \"אתר\",\n  \"status\": \"התקבל\",\n  \"notes\": \"שירות מבוקש: {{1.automation_type}}\\nנשלח מהאתר ב-{{1.submitted_at}}\"\n}",
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "useMtls": false
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 },
        "restore": {
          "expect": {
            "method": { "label": "POST" },
            "bodyType": { "label": "Raw" },
            "contentType": { "label": "JSON (application/json)" }
          }
        }
      }
    },
    {
      "id": 3,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDecompression": true
      },
      "mapper": {
        "url": "https://app.base44.com/api/apps/68ca70a27ae659023f0c2732/entities/Task",
        "serializeUrl": false,
        "method": "post",
        "headers": [
          {
            "name": "api_key",
            "value": "50290b7de016434184e42f238da348db"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "data": "{\n  \"title\": \"פנייה חדשה — {{1.name}}\",\n  \"description\": \"טלפון: {{1.phone}}\\nעסק: {{1.business}}\\nשירות: {{1.automation_type}}\",\n  \"status\": \"פתוח\",\n  \"priority\": \"גבוהה\",\n  \"due_date\": \"{{formatDate(addDays(now; 1); 'YYYY-MM-DD')}}\"\n}",
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "useMtls": false
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 },
        "restore": {
          "expect": {
            "method": { "label": "POST" },
            "bodyType": { "label": "Raw" },
            "contentType": { "label": "JSON (application/json)" }
          }
        }
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us2.make.com"
  }
}
