make-scenario-blueprint.json
{
  "name": "EH Automation — ליד חדש מהאתר",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": 0,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {
          "parameters": {
            "hook": {
              "label": "EH Automation — Lead Webhook"
            }
          }
        }
      }
    },
    {
      "id": 2,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDecompression": true
      },
      "mapper": {
        "url": "https://api.base44.com/apps/APP_ID_HERE/entities/Leads/",
        "serializeUrl": false,
        "method": "post",
        "headers": [
          {
            "name": "Authorization",
            "value": "Bearer API_KEY_HERE"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "data": "{\n  \"שם מלא\": \"{{1.name}}\",\n  \"טלפון\": \"{{1.phone}}\",\n  \"שם חברה\": \"{{1.business}}\",\n  \"שירות מבוקש\": \"{{1.automation_type}}\",\n  \"מקור ליד\": \"אתר\",\n  \"סטטוס\": \"התקבל\",\n  \"פרטי מקור\": \"{{1.source}}\",\n  \"הערות\": \"נשלח מהאתר ב-{{1.submitted_at}}\"\n}",
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "useMtls": false
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 },
        "restore": {
          "expect": {
            "method": { "label": "POST" },
            "bodyType": { "label": "Raw" },
            "contentType": { "label": "JSON (application/json)" }
          }
        }
      }
    },
    {
      "id": 3,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDecompression": true
      },
      "mapper": {
        "url": "https://api.base44.com/apps/APP_ID_HERE/entities/Tasks/",
        "serializeUrl": false,
        "method": "post",
        "headers": [
          {
            "name": "Authorization",
            "value": "Bearer API_KEY_HERE"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "data": "{\n  \"כותרת\": \"פנייה חדשה — {{1.name}}\",\n  \"תיאור\": \"טלפון: {{1.phone}}\\nעסק: {{1.business}}\\nשירות: {{1.automation_type}}\",\n  \"סטטוס\": \"פתוח\",\n  \"עדיפות\": \"גבוהה\",\n  \"תאריך יעד\": \"{{formatDate(addDays(now; 1); 'YYYY-MM-DD')}}\"\n}",
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "useMtls": false
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 },
        "restore": {
          "expect": {
            "method": { "label": "POST" },
            "bodyType": { "label": "Raw" },
            "contentType": { "label": "JSON (application/json)" }
          }
        }
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu1.make.com"
  }
}
